<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covalence Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/#/" class="navbar-brand">
                    <img src="./images/Newlogo.png" id="home-logo">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/products" id="link">APPAREL</a>
                </li>
                <li>
                    <a href="#/misc" class="link">MISC</a>
                </li>
                <li>
                    <a href="#/invoices" class="link">ORDERS</a>
                </li>
                <!-- <li> -->
                    <!-- </li> -->
                </ul>
               <div id="numberStyle">{{array.length}}</div> <span class="navbar-right" id="cart" onclick="openNav()"> Cart </span>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        
           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><div id="side-nav-span"><span class="close-span">close</span></div></a>
           <div ng-controller="CartController">
               <span class="indent-span">Your Shopping Cart</span>
               <div id="side-nav-line"></div>
               <div ng-repeat="arr in array track by $index">
                <div class="col-lg-2">
                    <img class="singleProductContainer2" ng-src="../images/{{arr.image}}" style="height:100px;width:100px;">
               </div>
                <div class="col-lg-8">
                    <div id="singleProductPrice1"> {{arr.name}}</div>
                    <button id="removeButton" ng-click="removeItem($storageThings)">Remove</button>
               </div>
                <div class="col-lg-2">
                    <span id="floatRight2" class="singleProductContainer2"> ${{arr.price | MonetaryUnit}} </span>
               </div>
                
                
                                

                </div>
                                <span class="indent-span">Total Price</span>
                <span id="side-nav-price" class="indent-span" ng-click="calculateTotal(total)">${{total | MonetaryUnit}}</span>
                
                
           </div>

        
        <br>
        <p id="side-nav-para">Taxes and fees included at checkout</p>
        <button id="side-nav-btn" disabled="disabled">Check Out</button>
        
        </div>
    <div ng-view>
 
    </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="scripts.js"></script>
</body>
</html>