#home-header {
    position: absolute;    
    color:white;
    transform: translate(30%,-600%);
    width: 600px;
    z-index: 0;    
    font-size:70px;
}

#home-btn {
    width: 300px;
    height: 100px;
    font-size: 32px;
    background-color: #47b6c7;
    border: none;
    color: white;
    border-radius: 5px;
    transform: translate(60%,-700%);
    
}

#home-logo {
    border-right: 3px solid rgb(67, 176, 193);
}

.navbar {
    opacity: 0.9;
}

.navbar-brand {
    padding: 0px;
    height: 80px;
}
  
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

#home-bg-img {
    margin-top: -102px;
}

.nav >li >a {
padding-top: 30px;
padding-bottom: 30px;
}
