@media only screen and (min-width : 480px) {
    #home-img-div {  
        margin-top: -100px;        
        background-image: url("../images/covalence-store-home.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10% 70%; 
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    } 

    #home-btn {
        position: relative;
        width: 300px;
        height: 100px;
        font-size: 20px;
        background-color: #47b6c7;
        border: none;
        color: white;
        border-radius: 5px;
        transform: translate(23%, 261%);
    }

    #home-header {
        position: relative;    
        color:white;
        transform: translate(19%,228%);
        width: 360px;
        font-size:3em;
    } 

     #product-jumbo {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        background-position: 44% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;         
    }

    #misc-jumbo {
        /*margin-top: -100px;*/
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        background-position: 44% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;         
    }
}

@media only screen and (min-width : 1100px) {
    #home-img-div {  
        margin-top: -100px;
        background-image: url("../images/covalence-store-home.jpg");
        background-size: 100% 120%;
        background-repeat: no-repeat;
        background-position-y: 100%; 
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    } 

    #home-btn {
        position: relative;
        width: 300px;
        height: 80px;
        font-size: 30px;
        background-color: #47b6c7;
        border: none;
        color: white;
        border-radius: 5px;
        transform: translate(75%, 371%);
        text-transform: uppercase;
    }

    #home-header {
        position: relative;    
        color:white;
        transform: translate(50%,260%);
        width: 450px;
        font-size:3.7em;
        word-spacing: 2px;
        letter-spacing: 1px;
        font-weight: bold;
        text-decoration: ca
    } 

    #product-jumbo {
        margin-top: -32%;                
        background-image: url("../images/covalence-store-apparel-hero.jpg");
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        background-repeat: no-repeat;
    }

   #misc-jumbo {
        margin-top: -34%;                 
        background-image: url("../images/covalence-store-misc-hero.jpg");
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        background-repeat: no-repeat;
    }
}

/*navbar*/
#home-logo {
    border-left: 3px solid rgb(67, 176, 193);
    height:60%;
    line-height: 5;
}

.navbar {
    opacity: 0.9;
    z-index: 1;
}

.navbar-brand {
    padding: 0px;
    height: 80px;
}
  
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.nav >li >a {
padding-top: 30px;
padding-bottom: 30px;
}
/*Product CSS*/
@media only screen and (max-width : 500px){
    #productContainer{
    margin-left: 10%;
    margin-top: 26%;
}
}

@media only screen and (min-width : 480px){
    #productContainer{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 26%;
}
}

#productsName{
    color:#7c7f8b;
    font-size:30px;
}
#floatRight{
  float:right;
  color:#40b1c1;
  font-size:30px;
}
#floatPrice{
  color:#40b1c1;
  font-size:30px;
}
#floatRight2{
  float:right;
  color:#40b1c1;
  font-size:30px;
  margin:1.75em;
}
/*Single Product CSS */
#singleProductInfo{
    text-align:left;
}
#singleProductText{
    color:#b2b2b4;
    text-align:left;
    
}
#singleProductPrice{
    color:#42b1c1; 
    font-size:36px;
    margin-right:4em;
}
#singleProductPrice1{
    color:#777b87; 
    font-size:36px;
}
#singleProductPrice2{
    color:#777b87; 
    font-size:24px;
}
#singleProductContainer{
    margin-top:5%;
    margin-right:10%;
    margin-left:5%;
}
.singleProductContainer2{
    margin:5%;
}
#singleProductButton{
    width:250px;
    height:50px;
    background-color:#47b6c7;
    color:white;
    border-radius:5%;
    font-size:24px;
    border: none;
}
/*Misc Styles*/
#miscContainer{
    margin-left: 4%;
    margin-right:4;
    margin-top: 28%;
}
@media only screen and (min-width : 480px){
    #miscContainer{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 28%;
}
}
#miscInnerContainer{
    display:inline-block;
    margin:1em;
}

/*sidenav*/

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 75px;
    right: 0;
    background-color: #eff3f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 25px;
    margin-right: 50px;
}
#side-nav-span{
    background-color: #3eb0c0;
    width: 800px;
    height: 70px;
    transform: translate(-14%, -17%)
}

.close-span {
    margin-left: 110px;    
    line-height: 70px;
    font-size: 30px;   
    color:white;
    
}

.indent-span {
    margin-top: 30px;
    margin-left: 60px;    
    line-height: 70px;
    transform: translate(-2%, -5%);
    font-size: 35px;
    font-weight: bold;
    color: #565e63;
}
#cart { 
    float: right;
    line-height: 75px;
    font-size: 18px;
    color: #edeeed;
 }

#side-nav-btn {
    height: 90px;
    width: 600px;
    transform: translate(8%, -5%);
    background-color: #3eb0c0;  
    border: none; 
    font-size: 25px;
    font-weight: bold; 
    color:white;
    letter-spacing: 3px;
    text-decoration: none;
}

#side-nav-line {
    border-bottom: 2px solid lightgrey;
    width: 600px;
    transform: translate(8%, -5%);    
}

#side-nav-left-line {
    border-left: 2px solid grey;
    width: 600px;  
}
#side-nav-price{
    margin-left: 367px; 
}
#side-nav-para{
    margin-left: 224px;
    color: #c7cacc;
}

#side-nav-block{
    display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/**/
#removeButton{
    width:150px;
    height:50px;
    color:#eabcc0;
}
#removeButton2{
    width:100px;
    height:35px;
    color:#eabcc0;
}
#numberStyle{
    border-radius:50%;
    background-color:#47b6c7;
    height:35px;
    width:35px;
    color:white;
    text-align:center;
    line-height: 35px;
    float:left;
    margin:1.5em;
}
#numberStyles2{
    border-radius:50%;
    background-color:#47b6c7;
    height:35px;
    width:35px;
    color:white;
    text-align:center;
    line-height: 35px;
    float:right;
    margin:1.5em;
}
#none{
    text-decoration: none;
    color:White;
}
.navbar-nav>li>a:hover ,
.navbar-nav>li>a:active {
    border-bottom: 5px solid white!important;
}

/* *{
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body { */
  /* Margin bottom by footer height */
  /* margin-bottom: 60px;
} */

.footer {
  /* position: relative; */
  /* bottom: 0;
  width: 100%; */
  background-color:#f4f4f4;
  /* z-index: -1; */
}

.footer-img {
    max-width: 35%; 
    max-height: 100%; 
    padding: 15px 0px 15px 0px; 
    float: left;
}

.copyright-footer {
    color: #d0d2d3; 
    float: right; 
    line-height: 600%; 
    margin-right: 30px; 
    font-weight: bold;
}

/* Checkout Page */

#cancel-btn{
    background-color: white;
    width: 18em;
    height: 4em;
    border-radius: 10px;
    border: none;
}
#totalStyle{
    position:relative;
    left:6em;
}

.btn-lg{
    color: white;   
    border: none;
}
.form-control{
    background-color: #eaeaf2;
    border-radius: 0px;
    border-color: #eaeaf2;
    border:#eaeaf2;
}
.checkcontainer{
    background-color: #f6f5fa;
    
}
.checkoutmargin{
margin: 1em;
background-color: #eaeaf2;
float: left;
}
.rightcheckoutstyle{
    background-color:#f4f4f4;
}
#checkoutcont{
    border:1px solid black;
   
    margin-left:20%;
    margin-right:20%;
}
.apply{
background-color: white;
border: solid 1px lightgrey;
color: lightslategray;
}