<div ng-controller="GetInvoices">
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                
            <th>#</th>
            <th>Total</th>
            <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <div ng-controller="GetInvoices">
                <div ng-repeat="item in invoices">
                    <div class="col-lg-4">
                        <div scope="row">Id:{{item.id}}</div>
                    </div>
                    <div class="col-lg-4">
                        <div>Total:${{item.price | MonetaryUnit}}</div>
                    </div>
                    <div class="col-lg-4">
                        <div>{{item.date}}</div>
                    </div>
                 
                </div>   

            </div>

        </tbody>
    </table>
    <footer class="footer">
        <div class="container">
            <img class="footer-img" src="../images/logo-footer.svg">
            <span class="copyright-footer">Copyright Covalence LLC</span>
        </div>
    </footer>