
    <table class="table table-striped table-inverse">
        <thead>
            <tr>
            <div class="col-lg-4">
            <th id="productsName">#Id</th>
            </div>
            <div class="col-lg-4">
            <th style="text-align:center" id="productsName">Total</th>
            </div>
            <div class="col-lg-4">
            <th style="text-align:center" id="productsName">Date</th>
            </div>
            </tr>
        </thead>

        </table>

                             <tbody>
            <div ng-controller="GetInvoices">
                <div ng-repeat="item in invoices">
                    <div class="col-lg-4" style="border:2px solid black">
                        <div scope="row" id="productsName">{{item.id}}</div>
                    </div>
                    <div class="col-lg-4" style="border:2px solid black">
                        <div id="floatPrice" >${{item.price | MonetaryUnit}}</div>
                    </div>
                    <div class="col-lg-4" style="border:2px solid black">
                        <div id="productsName">{{item.date | date : "fullDate"}}</div>
                    </div>
                 
                </div>   

            </div>

        </tbody>

           

    
    <footer class="footer">
        <div class="container">
            <img class="footer-img" src="../images/logo-footer.svg">
            <span class="copyright-footer">Copyright Covalence LLC</span>
        </div>
    </footer>