<div ng-controller="GetMisc">
    <div id="misc-jumbo" class="jumbotron jumbotron-contain ">
    </div>
    <div id="miscContainer">
        <div ng-repeat="items in products" id="miscInnerContainer" class="clearfix">
            <a ng-click=getId(items.id)><img class="img-responsive"ng-src="../images/{{items.image}}"></a>
            <br>
            <span id="productsName">{{items.name}}</span>
            <span id="floatRight">${{items.price | MonetaryUnit}}</span>
        </div>
        </div>
    </div>
    <footer class="footer" style="background-color:#f4f4f4">
        <div class="container" style="color: d0d2d3">
            <img class="footer-img" src="../images/logo-footer.svg" style="max-width: 35%; max-height: 100%; padding: 15px 0px 15px 0px">
            <span class="copyright-footer" style="color: #d0d2d3; float: right; line-height: 600%; margin-right: 30px; font-weight: bold">Copyright Covalence LLC</span>
        </div>
    </footer>
</div>