<div ng-controller="GetMisc">
    <div id="misc-jumbo" class="jumbotron jumbotron-contain ">
    </div>
    <div id="miscContainer">
        <div ng-repeat="items in products" id="miscInnerContainer" class="clearfix">
            <a ng-click=getId(items.id)><img class="img-responsive"ng-src="../images/{{items.image}}"></a>
            <br>
            <span id="productsName">{{items.name}}</span>
            <span id="floatRight">${{items.price | MonetaryUnit}}</span>
        </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <img class="footer-img" src="../images/logo-footer.svg">
            <span class="copyright-footer">Copyright Covalence LLC</span>
        </div>
    </footer>
</div>