
<div ng-controller="GetProducts">
    <div class="jumbotron jumbotron-contain">
        <img src="../images/covalence-store-apparel-hero.jpg">
    </div>
    
<div id="miscContainer">
                <div ng-repeat="items in products" id="miscInnerContainer">
        
    
                <img ng-src="../images/{{items.image}}">
                <br>
                <span id="productsName">{{items.name}}</span>
                <span id="floatRight">${{items.price | MonetaryUnit}}  </span>
        </div>
</div>

    


    </div>
</div>